@import url('https://fonts.googleapis.com/css?family=Blinker:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');
body {
    margin: 0;
    padding: 0;
    //overflow-x: hidden
}
#chartdiv {
    width: 100%;
    height: 100%;
  }

.card {
    border: none !important;
    box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.64);
    -webkit-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.64);
    border-radius: 0;
}
.status-admin {
    background-color: #34495e;
}
.status-user {
    background-color: #c0392b;
}
.status-super-admin {
    background-color: #f39c12;
}
#sidebar {
    min-height: 100vh;
    padding-top: 5vh;
    font-family: 'Blinker', sans-serif;
    background: #2c3e50;
        .nav-link {
            color: #ecf0f1;
            font-size: 1em;
            border-left: 7px solid transparent;
            padding-top: 16px;
            padding-bottom: 16px;
            overflow: hidden;
            position: relative;
            letter-spacing: 1px;
            &:active {
                background: red;
            }
            &:hover {
                border-left: 7px solid #d63031;
                background: rgba(255,255,255,0.2);
            }
            &:hover:after {
                content: '';
                position: absolute;
                top: 0;
                right: -5%;
                background: #FFF;
                width: 10%;
                height: 70%;
                transform: translateY(25%);

                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }
        }
        .active-link {
            border-left: 7px solid #d63031;
            background: rgba(255,255,255,0.2);
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: -5%;
                background: #FFF;
                width: 10%;
                height: 70%;
                transform: translateY(25%);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }
        }
        .welcome {
            margin-bottom: 20%;
            h4, h3 {
                color: #ecf0f1;
                text-align: center;
            }
            h3 {
                letter-spacing: 1px;
            }
        }
        .logout {
            position: absolute;
            bottom: 5%;
            left: 0;
            width: 100%;
                .btn-logout {
                    width: 40px;
                    margin-left: 10%;
                        a {
                            text-decoration: none;
                            &:hover span {
                                color: #d63031;
                            }
                        }
                        img {
                            width: 100%;
                            margin-left: 7%;
                        }
                        span {
                            color: #ecf0f1;
                        }
                }
        }
}
#main {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;

    background: #f1f2f6;
    padding-top: 5vh;
    padding-left: 3%;
        #top-cards {
            width: 100%;
            margin: 0;
                .card {
                    height: 100%;
                    width: 100%;
                    border-radius: 0;
                    border: none;
                    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
                    color: #ecf0f1;
                        .card-content {
                            position: relative;
                             .icon {
                                 position: relative;
                                    i {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        font-size: 3em;
                                        transform: translate(-50%, -50%);
                                    }
                             }
                        }
                }
        }
        #mid-charts{
            min-height: 40vh;
            margin: 2% 0 0 0;
            width: 100%;
                .chart .users {
                    height: 100% !important;
                    background: #FFF;
                }
                .chart {
                    #chartdivRoles {
                        height: 100%;
                        width: 100%;
                    }
                }
                .card {
                    height: 100%;
                }
        }
        #bot-users {
            min-height: 40vh;
            margin: 2% 0 0 0;
            width: 100%;
                span {
                    padding: 0;
                    border-radius: 3px;
                    color: #ecf0f1;
                    display: inline-block;
                    width: 100px;
                    text-align: center;
                }

        }
}

#users {
    min-height: 85vh;
        #users-heading {
            min-height: 5vh;
            max-height: 5vh;
        }
        #mid-table-users {
            min-height: 75vh;
        }
        .card {
            height: 100%;
                span {
                    padding: 0;
                    border-radius: 3px;
                    color: #ecf0f1;
                    display: inline-block;
                    width: 100px;
                    text-align: center;
                }
        }
}

#register, #login {
    font-family: 'Blinker', sans-serif;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .card {
            border-radius: 0;
            width: 50vw;
            min-height: 50vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
                .card-body {
                    width: 100%;
                        .row {
                            width: 100%;
                                .img {
                                    background-image: url("../public/img/barn-owl-1180263_1280-min.jpg");
                                    background-position: 15%;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    min-height: 50vh;
                                }
                                .col-md-7 {
                                    position: relative;
                                        p, h2 {
                                            line-height: 1em;

                                        }
                                        p {
                                            letter-spacing: 2px;
                                            font-size: 0.8em;
                                            color: #74b9ff;
                                        }
                                        h2 {
                                            letter-spacing: 3px;
                                            font-size: 2.5em;
                                            color: #0984e3;
                                        }
                                        form {

                                                .form-control {
                                                    border-left: none;
                                                    border-top: none;
                                                    border-right: none;
                                                    border-radius: 0;
                                                    font-size: .9em;
                                                    &:focus {
                                                        outline: 0 none !important;
                                                        box-shadow: none;
                                                    }
                                                }
                                                .btn {
                                                    border: none;
                                                    border-radius: 0;
                                                    width: 100%;
                                                    background: #34495e;
                                                    transition: all 200ms;
                                                    letter-spacing: 1px;
                                                    &:hover {
                                                        opacity: 0.9;
                                                        transition: all 200ms;
                                                    }
                                                }
                                        }
                                }


                        }
                }

        }

}
#login {


}