@import url('https://fonts.googleapis.com/css?family=Blinker:400,700&display=swap');
body {
    margin: 0;
    padding: 0;
    //overflow-x: hidden
}

#sidebar {
    min-height: 100vh;
    padding-top: 10vh;
    font-family: 'Blinker', sans-serif;
        .nav-link {
            color: #ecf0f1;
            font-size: 1em;
            border-left: 7px solid transparent;
            padding-top: 16px;
            padding-bottom: 16px;
            overflow: hidden;
            position: relative;
            letter-spacing: 1px;
            &:hover {
                border-left: 7px solid #d63031;
                background: rgba(255,255,255,0.2);
            }
            &:hover:after {
                content: '';
                position: absolute;
                top: 0;
                right: -5%;
                background: #FFF;
                width: 10%;
                height: 70%;
                transform: translateY(25%);

                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }
        }
        .active-link {
            border-left: 7px solid #d63031;
            background: rgba(255,255,255,0.2);
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: -5%;
                background: #FFF;
                width: 10%;
                height: 70%;
                transform: translateY(25%);

                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }
        }
}
#main {
    min-height: 100vh;
    border-top-left-radius: 5%;
    background: #FFF;
    padding-top: 10vh;
        .row {
            min-height: 40vh;
                #chartdiv1, #chartdiv {
                    height: 100%;
                }
        }
}